body{
	font-family: 'Indie Flower', cursive;
}
.caja{
	background-color: #9B0022;
}

header{
	text-align: center;
}

.back{
	background-image: url(http://lorempixel.com/1024/600/cats/);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.back .container{
	background-color: rgba(255,255,255, 0.5);
	position: relative;
	height: 100vh;
}

.texto{
	position: absolute;
	top: 40%;
	left: 35%;
}

.cat{
	background-image: url(http://3.bp.blogspot.com/-bjm5m43KVFY/TrxJ63H5soI/AAAAAAAAAWU/ah0rr0e7B_M/s1600/fondo+verde.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 50vh;
}

.cat .container{
	background-color: rgba(255,255,255, 0.2);
	position: relative;
	height: 50vh;
}

button{
	float: right;
}